In [1]:
#Import dependencies
import pandas as pd
import os

In [2]:
#Read raw population date into dataframe
arrests_csv = os.path.join("Resources","arrests-by-state-2017.csv")
arrests_raw = pd.read_csv(arrests_csv)

In [3]:
arrests_raw.head()

,State,Age Range,Total\nall \nclasses1,Violent\ncrime2,Property\ncrime2,Murder and\nnonnegligent\nmanslaughter,Rape3,Robbery,Aggravated\nassault,Burglary,...,Driving\nunder the\ninfluence,Liquor\nlaws,Drunkenness4,Disorderly\nconduct,Vagrancy,All other\noffenses\n(except\ntraffic),Suspicion,Curfew\nand\nloitering\nlaw\nviolations,Number\nof\nagencies,2017\nestimated \npopulation
0,ALABAMA,Under 18,4707,365,1264,18,34,116,197,323,...,42,212,34,338,0,1053,0,0,NaN,NaN
1,ALABAMA,Total all ages,153285,6005,18366,317,344,1140,4204,3223,...,7194,2064,6165,2018,56,71853,0,0,223.0,3737635.0
2,ALASKA,Under 18,1570,164,459,1,26,20,117,117,...,23,80,10,14,0,172,0,0,NaN,NaN
3,ALASKA,Total all ages,29152,2374,3695,46,126,289,1913,623,...,3102,653,43,757,2,10737,0,0,32.0,736205.0
4,ARIZONA,Under 18,22613,1228,4528,30,52,450,696,761,...,198,1461,78,1424,57,3062,3,1126,NaN,NaN

In [4]:
arrests_all_ages = arrests_raw.loc[arrests_raw["Age Range"] == "Total all ages", :].reset_index(drop=True)

In [5]:
#Choose and rename columns to include in dataframe
arrests_2017 = arrests_all_ages[["State", "Drug \nabuse\nviolations"]]
arrests_2017 = arrests_2017.rename(columns={"Drug \nabuse\nviolations":"Drug Violations"})
arrests_2017["State"] = arrests_2017["State"].replace({"ILLINOIS6": "ILLINOIS","ALABAMA  ":"ALABAMA", "CALIFORNIA ":"CALIFORNIA"})

In [6]:
#Check total drug arrest count
total_drug_arrests = arrests_2017["Drug Violations"].sum()
total_drug_arrests

1400015

In [7]:
state_drug_arrests = pd.DataFrame(arrests_2017)
state_drug_arrests.set_index("State",  inplace=True)

In [8]:
# Group by regions
region1_states = (["CONNECTICUT", "MAINE", "MASSACHUSETTS", "NEW HAMPSHIRE", 
                   "NEW JERSEY", "NEW YORK", "PENNSYLVANIA", "RHODE ISLAND", "VERMONT"])

region_1 = []

for a in region1_states:
    region_1.append(state_drug_arrests.loc[a, "Drug Violations"])

print(region_1)

[9174, 3409, 9791, 7656, 61989, 69904, 63306, 1792, 1137]

In [9]:
region2_states = (["ILLINOIS", "INDIANA", "IOWA", "KANSAS", "MICHIGAN", "MINNESOTA", 
                   "MISSOURI", "NEBRASKA", "NORTH DAKOTA", "OHIO", "SOUTH DAKOTA"])
region_2 = []
for b in region2_states:
    region_2.append(state_drug_arrests.loc[b, "Drug Violations"])
print(region_2)

[10915, 26364, 9645, 9594, 33090, 19281, 39979, 843, 5646, 37022, 8900]

In [10]:
region3_states = (["ALABAMA","ARKANSAS", "DELAWARE", "DISTRICT OF COLUMBIA", "FLORIDA",
                   "GEORGIA", "KENTUCKY", "LOUISIANA", "MARYLAND", "MISSISSIPPI",
                   "NORTH CAROLINA", "OKLAHOMA", "SOUTH CAROLINA", "TENNESSEE", "TEXAS"])
region_3 = []
for c in region3_states:
    region_3.append(state_drug_arrests.loc[c, "Drug Violations"])
print(region_3)

[11267, 17515, 4015, 237, 124487, 40608, 26397, 25770, 28992, 10268, 25902, 20024, 32266, 47826, 136796]

In [11]:
region4_states = (["ALASKA", "ARIZONA", "CALIFORNIA", "COLORADO", "HAWAII", "IDAHO",
                   "MONTANA", "NEVADA", "NEW MEXICO", "OREGON", "UTAH"])
region_4 = []
for d in region4_states:
    region_4.append(state_drug_arrests.loc[d, "Drug Violations"])
print(region_4)

[1004, 33230, 212025, 16626, 2724, 8432, 2872, 8923, 2377, 15682, 17556]

In [12]:
region_1_total = sum(region_1)
region_2_total = sum(region_2)
region_3_total = sum(region_3)
region_4_total = sum(region_4)

region_drug_data = {"Region": [1,2,3,4],
                    "2017 Arrests": [region_1_total,region_2_total,region_3_total,region_4_total]}
region_drug_arrests = pd.DataFrame(region_drug_data)
region_drug_arrests.head()

   Region  2017 Arrests
0       1        228158
1       2        201279
2       3        552370
3       4        321451

In [13]:
#Save State Drug Arrests as CSV
state_drug_arrests.to_csv(r'Resources/drug-arrests_state.csv')

In [14]:
#Save Region Drug Arrests as CSV
region_drug_arrests.to_csv(r'Resources/drug-arrests_region.csv')