In [1]:
# Importing dependancies for data munge
import pandas as pd
import numpy as np
import os

In [2]:
# Importing Dataset
df = pd.read_csv("Resources/VSRR_Provisional_Drug_Overdose_Death_Counts.csv")
# Isolating 2017 as year used, keeping only relevant data
df_year = df.set_index("Year")
year_loc = df_year.loc[2017, ["State Name", "Indicator", "Data Value"]]
year_df = pd.DataFrame(year_loc).reset_index()
ind_group = year_df.groupby(["Indicator"])
print(ind_group)
# ind_df = pd.DataFrame(ind_group)
# ind_df

# ind_munge = ind_group.head()
# state_df = pd.DataFrame(state_group).set_index("Indicator")
# state_df.head()
# year_df.to_csv("Resources/2017_mortality_condensed.csv", index=False, header=True)
year_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x10640cf28>

,Year,State Name,Indicator,Data Value
0,2017,Alaska,Psychostimulants with abuse potential (T43.6),52
1,2017,Alaska,Natural & semi-synthetic opioids (T40.2),30
2,2017,Alaska,Number of Drug Overdose Deaths,117
3,2017,Alaska,Cocaine (T40.5),16
4,2017,Alaska,Heroin (T40.1),43
...,...,...,...,...
5683,2017,New York City,Percent with drugs specified,99.66974901
5684,2017,New York City,"Natural, semi-synthetic, & synthetic opioids, ...","1,016"
5685,2017,New York City,Cocaine (T40.5),615
5686,2017,New York City,Number of Deaths,"54,331"
5687,2017,New York City,"Natural & semi-synthetic opioids, incl. methad...",446

In [6]:
# Binning State by Region as defined by CDC (https://www.cdc.gov/coordinatedchronic/docs/NCCDPHP-Regions-Map.pdf)
# bin_labels = ["A","B","C","D","E","F","G","H","I","J"]
# bins = [["Connecticut", "Maine", "Massachusetts", "New Hampshire", "Rhode Island", "Vermont", "New York", "New York City"],
#        ["Delaware", "District of Columbia", "Maryland", "Pennsylvania", "Virginia", "West Virginia", "New Jersey"],
#        ["North Carolina", "South Carolina", "Georgia", "Florida"],
#        ["Kentucky", "Tennessee", "Alabama", "Mississippi"],
#        ["Illinois", "Indiana", "Michigan", "Minnesota", "Ohio", "Wisconsin"],
#        ["Arkansas", "Louisiana", "New Mexico", "Oklahoma", "Texas"],
#        ["Iowa", "Kansas", "Missouri", "Nebraska"],
#        ["Colorado", "Montana", "North Dakota", "South Dakota", "Utah", "Wyoming"],
#        ["Arizona", "California", "Hawaii", "Nevada"],
#        ["Alaska", "Idaho", "Oregon", "Washington"]]
# state_bins = pd.cut(year_df["State Name"], bins, labels=bin_labels)
# state_bins.head()
reg_a = year_df.loc[(year_df["State Name"]=="Connecticut")| (year_df["State Name"]=="Maine")| (year_df["State Name"]=="Massachusetts")
               | (year_df["State Name"]=="New Hampshire")| (year_df["State Name"]=="Rhode Island")| (year_df["State Name"]=="Vermont")
               | (year_df["State Name"]=="New York")| (year_df["State Name"]=="New York City") 
                    | (year_df["State Name"]=="Pennsylvania") | (year_df["State Name"]=="New Jersey"), ["Indicator", "Data Value"]]
# reg_a = reg_a.groupby("Indicator").agg(max)
reg_a_df = pd.DataFrame(reg_a)
reg_a_df
# year_df.to_csv("Resources/2017_mortality_condensed.csv", index=False, header=True)
reg_b = year_df.loc[(year_df["State Name"]=="Illinois")| (year_df["State Name"]=="Indiana")| (year_df["State Name"]=="Iowa")|
                    (year_df["State Name"]=="Kansas")| (year_df["State Name"]=="Michigan")| (year_df["State Name"]=="Minnesota")|
                    (year_df["State Name"]=="Missouri")| (year_df["State Name"]=="Nebraska")| (year_df["State Name"]=="North Dakota")|
                    (year_df["State Name"]=="Ohio")| (year_df["State Name"]=="South Dakota"), ["Indicator", "Data Value"]]

reg_c = year_df.loc[(year_df["State Name"]=="Alabama")| (year_df["State Name"]=="Arkansas")| (year_df["State Name"]=="Delaware")| 
                    (year_df["State Name"]=="District of Columbia")| (year_df["State Name"]=="Florida")| (year_df["State Name"]=="Georgia")| 
                    (year_df["State Name"]=="Kentucky")| (year_df["State Name"]=="Louisiana")| (year_df["State Name"]=="Maryland")| 
                    (year_df["State Name"]=="Mississippi")| (year_df["State Name"]=="North Carolina")| (year_df["State Name"]=="Oklahoma")| 
                    (year_df["State Name"]=="South Carolina")| (year_df["State Name"]=="Tennessee")| (year_df["State Name"]=="Texas"),
                     ["Indicator", "Data Value"]]

reg_d = year_df.loc[(year_df["State Name"]=="Alaska")| (year_df["State Name"]=="Arizona")| (year_df["State Name"]=="California")| 
                    (year_df["State Name"]=="Colorado")| (year_df["State Name"]=="Hawaii")| (year_df["State Name"]=="Idaho")| 
                    (year_df["State Name"]=="Montana")| (year_df["State Name"]=="Nevada")| (year_df["State Name"]=="New Mexico")| 
                    (year_df["State Name"]=="Oregon")| (year_df["State Name"]=="Utah"), ["Indicator", "Data Value"]]
reg_a["Group"] = "A"
reg_b["Group"] = "B"
reg_c["Group"] = "C"
reg_d["Group"] = "D"
reg_a

                                              Indicator   Data Value Group
432       Psychostimulants with abuse potential (T43.6)           28     A
433            Natural & semi-synthetic opioids (T40.2)          209     A
434                      Number of Drug Overdose Deaths        1,018     A
435                                     Cocaine (T40.5)          267     A
436                                      Heroin (T40.1)          465     A
...                                                 ...          ...   ...
5683                       Percent with drugs specified  99.66974901     A
5684  Natural, semi-synthetic, & synthetic opioids, ...        1,016     A
5685                                    Cocaine (T40.5)          615     A
5686                                   Number of Deaths       54,331     A
5687  Natural & semi-synthetic opioids, incl. methad...          446     A

[1332 rows x 3 columns]